*, *::before, *::after {
    box-sizing: border-box;
}


.container {
    width: 650px;
    height: 350px;
    position: relative;
    margin: 0 auto;
    
}

.background {
    width: 640px;
    height: 340px;
    background-image: url(../img/4-jezioro.jpg);
    background-position: center;
    background-size: cover;
    margin: 5px;
    position: absolute;
}

 .vertical::before {
    content:'';
    height: 0%;
    position: absolute;
    transition: height 2s linear 2s;
}

div:hover .vertical::before {
    height: 50%;
    width: 100%;
    border: solid black;
    border-width: 0px 2px 0px 2px;
   
}

 .horizontal::before {
    content:'';
    width: 100%;
    position: absolute;
    transform: scaleX(0);
    transition: transform 2s linear;
}

div:hover .horizontal::before {
    border-top: 2px solid black;
    transform: scaleX(1);
}

 .vertical::after {
    content:'';
    height: 0%;
    position: absolute;
    bottom: 0px;
    transition: height 2s linear 2s;
}

div:hover .vertical::after {
    height: 50%;
    width: 100%;
    border: solid black;
    border-width: 0px 2px 0px 2px;
   
}

 .horizontal::after {
    content:'';
    width: 100%;
    bottom: 0px;
    position: absolute;
    transform: scaleX(0);
    transition: transform 2s linear;
}

div:hover .horizontal::after {
    border-bottom: 2px solid black;
    transform: scaleX(1);
}

.sentence {
    position: absolute;
    color: white;
    background-color: black;
    text-align: center;
    height: 60px;
    font-size: 50px;
    width: 100%;
    top: 140px;
    transform: scaleY(0);
    transition: transform 2s linear;
}

.container:hover .sentence {
    transform: scaleY(1);   
}